<!-- <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(); employeeForm.reset()"> reset form in html  -->
<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
        <label for="name" class="control-label">Name</label>
        <input required type="text" id="name" name="name" [(ngModel)]="employee.name" class="form-control" #name="ngModel">
        <span class="help-block" *ngIf="name.invalid && name.touched">Name is required</span>
      </div>
      <!-- Email build in validator -->
      <!-- <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email" class="control-label">Email</label>
        <input required [email]="employee.email!==''" type="text" id="email" name="email" [(ngModel)]="employee.email" class="form-control" #email="ngModel">
        <span class="help-block" *ngIf="email.errors?.required && email.touched">Email is required</span>
        <span class="help-block" *ngIf="email.errors?.email && email.touched">Email is invalid</span>        
      </div> -->
      <div class="form-group" [class.has-error]="contactPreference.invalid">
        <label class="control-label">Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" required #contactPreference="ngModel" value="email" name="contactPreference" [(ngModel)]="employee.contactPreference">Email
          </label>
          <label class="radio-inline">
            <input type="radio" required #contactPreference="ngModel" value="phone" name="contactPreference" [(ngModel)]="employee.contactPreference">Phone No
          </label>
        </div>
        <span class="help-block" *ngIf="contactPreference.errors?.required">
          Contact Preference is required
        </span>
        Contact Preference Selected Value: {{contactPreference.value}}
      </div>
      <!-- Email pattern validator -->
      <div class="form-group" [class.has-error]="email.invalid">
        <label for="email" class="control-label">Email</label>
        <input [required]="contactPreference.value=='email'" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" type="text"
          id="email" name="email" [(ngModel)]="employee.email" class="form-control" #email="ngModel">
        <span class="help-block" *ngIf="email.errors?.required">Email is required</span>
        <span class="help-block" *ngIf="email.errors?.pattern">Email is invalid</span>
      </div>
      <div class="form-group" [class.has-error]="phoneNumber.invalid">
        <label for="phoneNumber" class="control-label">Phone</label>
        <input [required]="contactPreference.value=='phone'" type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="employee.phoneNumber"
          class="form-control" #phoneNumber="ngModel">
        <span class="help-block" *ngIf="phoneNumber.errors?.required">Phone no is required</span>
      </div>

      <div class="form-group" [class.has-error]="gender.touched && gender.invalid">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" required #gender="ngModel" value="male" name="gender" [(ngModel)]="employee.gender">Male
          </label>
          <label class="radio-inline">
            <input type="radio" required #gender="ngModel" value="female" name="gender" [(ngModel)]="employee.gender">Female
          </label>
          <span class="help-block" *ngIf="gender.invalid && gender.touched">Gender is required</span>
        </div>
      </div>
      <div class="form-group" [class.has-error]="isActive.touched && isActive.invalid">
        <div class="form-control">
          <label class="checkbox-inline control-label">
            <input type="checkbox" [required]="employee.isActive==null" #isActive="ngModel" name="isActive" [(ngModel)]="employee.isActive">Is Active
          </label>
        </div>
        <span class="help-block" *ngIf="isActive.errors?.required && isActive.touched">Is Active is required</span>
      </div>
      <div class="form-group" [class.has-error]="department.touched && department.errors?.defaultSelected">
        <label for="department" class="control-label">Department</label>
        <select appSelectValidator="select" #department="ngModel" id="department" name="department" [(ngModel)]="employee.department"
          class="form-control">
          <option value="select">Select Department</option>
          <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
        </select>
        <span class="help-block" *ngIf="department.errors?.defaultSelected && department.touched">Department is required</span>
      </div>
      <div class="row">
        <div class="form-group col-md-5">
          <label for="datOfBirth">Date of Birth</label>
          <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" type="text" bsDatepicker class="form-control"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <input type="text" id="photoPath" name="photoPath" [(ngModel)]="employee.photoPath" class="form-control">
      </div>
      <div class="form-group">
        <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary">{{previewPhoto? "Hide" : "Show"}} Preview</button>
      </div>
      <div class="form-group">
        <img [src]="employee.photoPath" height="200px" width="200px" *ngIf="previewPhoto">
      </div>

      <!-- <div ngModelGroup="passwordGroup" [class.has-error]="confirmPassword.touched && confirmPassword.invalid && !confirmPassword.errors?.required">
        <div class="form-group" [class.has-error]="password.touched && password.invalid">
          <label for="password" class="control-label">Password</label>
          <input id="password" required type="text" class="form-control" name="password" (input)="confirmPassword.control.updateValueAndValidity()"
            [(ngModel)]="employee.password" #password="ngModel">
          <span class="help-block" *ngIf="password.touched && password.errors?.required">
            Password is required
          </span>
        </div>
        <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
          <label for="confirmPassword" class="control-label">Confirm Password</label>
          <input name="confirmPassword" appConfirmEqualValidator="password" required id="confirmPassword" type="text" class="form-control"
            [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel">
          <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
            Confirm Password is required
          </span>
          <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
          !confirmPassword.errors?.required">
            Password and Confirm Password does not match
          </span>
        </div>
      </div> -->
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
    </div>
  </div>
</form>

Auto generated from model: {{employeeForm.value | json }}
<br/>
<br/> Our employee model: {{employee | json}}